.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--size-4) 0 var(--size-4);
    width: var(--size-full);
    background-color: var(--layer-1-color);
}

.action-icons {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-around;
    padding: var(--size-2) 0 var(--size-2) 0;
}

.toolbar-icon {
    height: var(--size-6);
    width: var(--size-6);
}

.bulk-edit__containter {
    padding: var(--size-2);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--size-2);
}

.bulk-edit__content {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    align-self: flex-start;
}
