.form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--size-4);
    gap: var(--size-6);
    flex: 1;
    overflow: scroll;
    background-color: var(--layer-1-color);
}

.form__inputs {
    display: flex;
    flex-direction: column;
    gap: var(--size-6);
    overflow: scroll;
    flex: 1;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
    flex-wrap: wrap;
}

.group__title {
    font-size: var(--font-xl);
    border-bottom: 2px solid var(--border-color);
}

.group__attributes {
    display: flex;
    gap: var(--size-6);
    flex-wrap: wrap;
}

.form__buttons {
    display: flex;
    gap: var(--size-2);
    justify-content: flex-end;
    align-content: flex-end;
}

.form__field {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
}
