.attribute__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    background-color: var(--layer-1-color);
    padding: var(--size-2);
}

.attribute-grid {
    height: var(--size-120);
}

.grid__toolbar {
    border: 1px solid var(--border-color);
    border-radius: var(--rounded-sm) var(--rounded-sm) 0 0;
}

.attribute-table {
    overflow: auto;
    flex: 1;
}

.placeholder {
    text-align: center;
    padding-top: var(--size-2);
}

.group-list-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.group-listbox__container {
    padding: var(--size-4) 0;
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
}

.add-group__container,
.group-search__container {
    flex: 1;
    display: flex;
    justify-content: center;
}
