.toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--size-4) 0 var(--size-4);
    width: var(--size-full);
    background-color: var(--layer-1-color);
    border: 1px solid var(--border-color);
}

.action-icons {
    display: flex;
    width: 15%;
    align-items: center;
    justify-content: space-around;
    padding: var(--size-2) 0 var(--size-2) 0;
}

.toolbar-icon {
    height: var(--size-6);
    width: var(--size-6);
}
