.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--layer-1-color);
    padding: 0 var(--size-1) 0 var(--size-1);
    border-radius: var(--size-1) var(--size-1) 0 0;
    width: var(--size-full);
}

.toolbar {
    display: flex;
    border: 1px solid var(--border-color);
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--size-4) 0 var(--size-4);
    width: var(--size-full);
    background-color: var(--layer-1-color);
}

.toolbar__action {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: var(--size-2) 0 var(--size-2) 0;
}

.action-icon {
    height: var(--size-5);
    width: var(--size-5);
}

.toolbar__search {
    height: 90%;
}
