.cell {
    border: 1px solid var(--border-color);
    padding: var(--size-2);
}

.table__row {
    cursor: pointer;
    background-color: var(--layer-2-color);
}

.table__row:hover {
    background-color: var(--layer-3-color);
    width: 100%;
}

.table__cell--disabled {
    opacity: 0.5;
}
