.cell {
    border: 1px solid var(--color-secondary);
    padding: var(--size-2);
}

.table__row {
    cursor: pointer;
}

.table__row:hover {
    background-color: var(--layer-2-color);
    width: 100%;
}

.table__cell--disabled {
    opacity: 0.5;
}
