.number-input__container {
    display: flex;
}

.number-input__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.number-input__button {
    flex: 1;
    padding: 0 var(--size-1);
}
