@keyframes pulse {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.4;
    }
    75% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.skeleton-container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--layer-2-color);
    animation: pulse 1.2s ease-in-out infinite;
    height: var(--size-6);
    width: var(--size-40);
}

.skeleton-container--circular {
    border-radius: 50%;
    width: var(--size-20);
    height: var(--size-20);
}

.skeleton-container--rounded {
    border-radius: var(--size-2);
}

.skeleton-container--text {
    height: var(--size-10);
}
