.search-input {
    font-size: var(--font-base);
    height: auto;
}

.tooltip {
    box-sizing: border-box;
    width: max-content;
    background-color: var(--layer-1-color);
    color: var(--text-primary);
    padding: var(--size-1) var(--size-2);
    border-radius: var(--size-2);
}
