[data-theme='dark'] {
    --background-color: #181818;
    --layer-1-color: #282828;
    --layer-2-color: #303030;
    --layer-3-color: #383838;

    --text-primary: #fefefe;
    --text-secondary: #d8d8d8;

    --title-weight: var(--font-weight-bold);
    --title-size: var(--font-2xl);

    --subtitle-weight: var(--font-weight-semibold);
    --subtitle-size: var(--font-xl);

    --color-danger: #ff4136;
    --color-danger--hover: #e60000;

    --color-primary: #1db954;
    --color-primary--hover: rgba(28, 185, 84, 80%);

    --color-secondary: #666666;
    --color-secondary--hover: rgba(102, 102, 102, 80%);

    --layer-modal-color: rgba(25, 25, 25, 0.5);

    --color-warning: #ffa700;
    --color-warning--hover: #e66500;

    --header-color: var(--layer-1-color);

    --border-color: #6c757d;

    --select-color: #999999;
}

[data-theme='light'] {
    --base-color: var(--color-white-100);
    --header-color: var(--color-white-200);

    --text-primary: var(--color-dark-gray-800);
}
