.attribute-renderer__container {
    display: flex;
    gap: var(--size-4);
    padding: var(--size-2) var(--size-4);
    height: var(--size-64);
}

.groups__name,
.attributes__attribute {
    cursor: pointer;
    padding: var(--size-1) var(--size-2);
}

.groups__name {
    font-size: var(--font-xl);
}

.attribute-renderer__groups {
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.attribute-renderer__group {
    overflow: auto;
    padding: 0 var(--size-2);
}

.groups__name:hover,
.attributes__attribute:hover {
    background-color: var(--layer-2-color);
    border-radius: var(--rounded-sm);
}

.search__container {
    top: var(--size-16);
    left: 0;
    width: 100%;
    z-index: 1000;
    position: absolute;
    border: 1px solid var(--border-color);
    border-radius: var(--rounded-sm);
    background-color: var(--layer-1-color);
}

.group__info-message {
    color: var(--text-secondary);
    cursor: default;
}

.attribute-result__skeleton {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    gap: var(--size-2);
    padding: var(--size-2) 0;
}

.group-result__skeleton {
    flex: 1;
    display: flex;
    gap: var(--size-2);
}
