.header-container {
    background-color: var(--header-color);
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--border-color);
}

.header-container__nav {
    width: 100%;
    max-width: var(--container-lg);
    padding: var(--size-4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__brand-container {
    display: flex;
    align-items: center;
}

.brand-container__brand {
    font-size: var(--font-3xl);
    font-family: sans-serif;
    font-weight: var(--font-weight-black);
}

.nav__links {
    display: flex;
    gap: var(--size-4);
}

.links__link {
    font-weight: var(--font-weight-semibold);
    color: var(--text-secondary);
    font-family: sans-serif;
    letter-spacing: var(--tracking-wide);
}

.links__link--active {
    border-bottom: 2px solid var(--color-primary);
}

.links__link:hover {
    color: var(--text-primary);
}
