.image__container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image__delete-control {
    position: absolute;
    top: -10px;
    left: 150px;
}
