.pagination {
    display: flex;
    gap: var(--size-4);
    padding: var(--size-2);
    align-items: center;
}

.pagination__button-container {
    display: flex;
}

.button-container__page-button {
    font-size: var(--font-3xl);
}

.button-container__page-button:hover {
    color: var(--color-primary);
}

.button-container__page-button--disabled {
    color: var(--color-secondary);
}

.button-container__page-button--disabled:hover {
    color: var(--color-secondary);
}
