.chips__container {
    display: flex;
    gap: var(--size-2);
    /* overflow-y: auto; */
}

.chip__container {
    display: flex;
    position: relative;
    border-radius: var(--rounded-xl);
}

.chip__header {
    display: flex;
    cursor: pointer;
    padding: var(--size-1);
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.chip__header:hover:not(.chip--active):not(.chip__container--expanded) {
    background-color: var(--color-secondary--hover);
    border-radius: var(--rounded-xl);
}

.chip__container--expandable:hover .chip__header:hover {
    border-radius: var(--rounded-xl);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.chip__title {
    padding: 0px var(--size-1);
}
.chip__delete {
    border-radius: var(--rounded-xl);
}
.chip__filled {
    background-color: var(--layer-2-color);
}
.chip__outlined {
    border: 1px solid var(--layer-2-color);
}

.chip__delete:hover {
    background-color: var(--color-secondary--hover);
}
.chip--active {
    background-color: var(--color-secondary);
}

.chip__expandable-container {
    position: absolute;
    background-color: var(--layer-2-color);
    width: 100%;
    transform: translate(0, var(--size-14));
    border-radius: var(--rounded-sm);
    max-height: var(--size-52);
    padding: var(--size-1);
    z-index: 10;
    overflow: auto;
}

.expand-button__container {
    border-right: 1px solid var(--border-color);
    display: flex;
    align-items: center;
    padding: 0 var(--size-2);
    cursor: pointer;
}

.expand-button__container:hover {
    background-color: var(--color-secondary--hover);
    border-radius: var(--rounded-xl);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
