.edit__container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: var(--size-1);
    flex: 1;
    overflow: hidden;
    background-color: var(--layer-1-color);
}

.spinner__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.products__container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    border-radius: var(--size-1);
    flex: 1;
    overflow: hidden;
    background-color: var(--layer-1-color);
    padding: var(--size-2);
}
